<div class="row">
  <div *ngIf="mostraDetalhes" class="col-sm-6">
    <div class="row">
      <div class="mr-auto">
        <app-titulo [titulo]="'Aluno #' + alunoSelecionado.id"></app-titulo>
      </div>
      <div class="mt-1">
        <button class="btn btn-warning" (click)='voltar()'>Voltar</button>
      </div>
    </div>
    <form [formGroup]="alunoForm" (submit)="alunoSubmit">
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Nome</label>
        <input type="text" class="form-control" formControlName="nome">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" formControlName="sobrenome">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Telefone</label>
        <input type="text" class="form-control" formControlName="telefone">
      </div>
      <hr>
      <div class="form-group">
        <button class="btn btn-success" [disabled]="!alunoForm.valid">Salvar</button>
      </div>
    </form>
  </div>
  <div [ngClass]="{'col-sm-12':!mostraDetalhes,'col-sm-6':mostraDetalhes}">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>
            <div class="btn-group">
              <div class="col-sm-4">
                <button [ngClass]="{'btn btn btn-primary':alunoSelecionado,'btn btn-outline-primary':!alunoSelecionado}"
                  [disabled]="!alunoSelecionado" (click)="mostrarDetalhes()">Detalhes</button>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-warning" [disabled]="!alunoSelecionado">Editar</button>
              </div>
              <div class="com-sm-4">
                <button class="btn btn-danger" [disabled]="!alunoSelecionado">Excluir</button>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos" style="cursor:pointer" (click)="alunoSelected(aluno)">
          <td scope="row">{{aluno.id}}</td>
          <td>{{aluno.nome}}</td>
          <td>{{aluno.telefone}}</td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>